{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Bem vindo ao the checklist app!</h1>
<div style="padding: 32px; display: flex; justify-content: center; flex-direction: column; align-items: center;">
    <img src="{% static 'img/to_do_list_icon.png' %}" alt="the checklist app" style="width: 190px;">
    <div style="padding-top: 32px;">
        <a href="{% url 'register' %}" class="btn btn-primary">Criar conta!</a>
        <a href="{% url 'login' %}" class="btn btn-info" style="color: white; margin-left: 16px;">Login</a>
    </div>
</div>
<p>Essa ferramenta tem como objetivo ajudar o desenvolvedor se organizar no dia-a-dia, criando tarefas pessoais e(ou) profissionais.</p>
{% endblock %}